<footer>
    <div>
        <h4>ABOUT</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo eveniet dolorum qui? Nostrum iusto ipsa
            quia
            iste reprehenderit quae odio voluptatum, aspernatur harum et commodi eum cum. Optio, aliquid molestias!
        </p>
    </div>
    <div>
        <h4>QUICK LINKS</h4>
        <ul>
            <li><a href="/games">Games</a></li>
            <li><a href="/genres">Genres</a></li>
        </ul>
    </div>
    <p>Copyright &copy; 2022 All Rights Reserved by
        <a href="#">Team 2</a>.
    </p>
</footer>

</html>