<header>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
            <img class="bi me-2" height="32" style="filter: brightness(80%) contrast(160%) hue-rotate(30deg)" src="/img/game-controller.png" alt="game-store">
            <span class="fs-4">Game<span class="fw-bold text-primary">Store</span></span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/game/details" class="nav-link">Games</a></li>
            <li class="nav-item"><a href="/genre" class="nav-link">Genres</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
          </ul>
        </header>
      </div>
</header>