<%- include('./partials/head') %> <%- include('./partials/header') %>

<body>
    <div class="container">
        <div class="title">
            <h2>Home Page</h2>
        </div>
        <p>
            Welcome.... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis
            voluptate minima a unde assumenda laboriosam ex labore suscipit
            nihil. Eos asperiores adipisci officiis, aspernatur error vero saepe
            temporibus iusto quasi.
        </p>
        <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Browse Game Now</h5>
                  <p class="card-text">Enjoy hundred games in GameStore with cheap price. Have fun with your friends here!</p>
                  <a href="/game/details" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Articles & News</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Modding Area</h5>
                    <p class="card-text">Customize your favorite games in largest communitiy of modding.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
          </div>
    </div>
</body>

<%- include('./partials/footer') %>
